Repository opentiny/ng: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,ts}": ["prettier --write", "eslint --fix"],
  "*.{html,css,less,json}": "prettier --write"
}

docs: add English User Guide.
  src/ng/demo/src/webdoc/faq-en.md
  src/ng/demo/src/webdoc/getstart-en.md
  src/ng/demo/src/webdoc/introduce-en.md
  src/ng/demo/src/webdoc/introduce.md
  src/ng/demo/src/webdoc/joinus-en.md
  src/ng/demo/src/webdoc/language-en.md
  src/ng/demo/src/webdoc/themedoc-en.md
Due: none

Update README.md
  README.md
Due: none

merge in.open
  src/leftmenuthin/lib/ng-package.json
  src/leftmenuthin/lib/project.json
Due: prettier --write

build(@opentiny/ng): optimizing the depencies of @oepntiny/ng
  src/ng/lib/package.json
Due: prettier --write

chore: add issue translator
  .github/workflows/issue-translator.yml
Due: none

fix(ti-head-filter): 解决表格ti-head-filter组件-选择日期组件-结束日期字段未显示问题
  src/table/lib/src/head-filter-drop.html
Due: prettier --write

update
  src/ng/demo/src/app/AppWcModule.ts
  website-tinydoc/package.json
Due: prettier --write, eslint --fix
